.icon{
    margin: 30px;
    width: 50px;
}.cube{
    width: 150px;
    float: right;
    margin-top: -130px;
   
}.bcube{
    width: 180px;
    margin-top: -50px;
}.con{
    text-align: center;
   
}
@media (max-width: 600px) {
    .icons{
        display: block !important;
        width: 20px;
    }.cube{
        display: none;
    }
}